*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    height: 10vh;
    place-content: center;
    font-size: 1rem;
    text-align: center;
    background-color: black;
    color: beige;
    overflow: hidden;
}
.container{
    width: 1130px;
    max-width: 100%;
    margin: auto;
}
form{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    gap: 20px;
    width: 400px;
    margin: auto;
}
input{
    font-size: 20px;
    direction: rtl;
    padding: 15px;
    border: 0;
    border-radius: 10px;
    outline: 0;
}
#submit{
    background-color: rgb(165, 42, 144);
    color: aliceblue;
    cursor: pointer;
    transition: 500ms;
}
#submit:hover{
    background-color: rgb(182, 57, 194);
}